* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background-image: url(../img/pattern.png);
    height: 200px;
    width: 100%;
    background-color: rgb(26, 110, 158);
    background-repeat: repeat-x;
    background-size: contain;
}

#logo {}



.title {}