* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: 10px auto;
}

#hero {
    background-image: url(../img/pattern.png);
    height: 20vh;
    width: 100%;
    background-color: #4EA0FF;
    background-repeat: repeat-x;
    background-size: contain;
    position: relative;
}

.signature {
    color: #B1E5F2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
}

#logo {
    width: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
}

ul {
    margin-left: 2%;
}

th {
    color: white;
    background-color: lightblue;
}

tr:nth-child(odd) {
    background-color: #D6EEEE;
}

.I col {
    width: 30%;
}

.II col {
    width: 30%;
}

.III col {
    width: 60%;
}

thead tr {
    background-color: #4EA0FF;
    border-color: #4EA0FF;
    border-collapse: collapse;
    /* height: max-content;
    max-width: max-content; */
}


.subtitle {
    color: lightgray;
}


.picture {
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 20%;
}

.didascalia {
    color: white;
}

footer div:first-child {
    background: url(../img/graph.jpg);
}

footer div:last-child {
    background: url(../img/monitor.jpg);
}