* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* bonus .container {
    width: 75%;
    margin: 0 auto;
} */

.hero {
    background-image: url(../img/pattern.png);
    height: 200px;
    width: 100%;
    background-color: rgb(26, 110, 158);
    background-repeat: repeat-x;
    background-size: contain;
    position: relative;
}

img {
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 0;

}

#logo {}



.title {}